.accueil{
    margin: 0;
    padding: 0;
  }
  
  .accueil {
  /*   width: 100%; */
    height: 100vh;
    background-image:url("/public/img/carpool_blablabus_large-e3d8eff32c13cdafc080..svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }