.trajet {
    margin: 20px;
    background-color: #f2f2f2;
  
    .row {
      display: flex;
      justify-content: center;
  
      .blabla {
        width: 100%;
  
        h1 {
          text-align: center;
          color: #333;
          font-size: 24px;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-bottom: 20px;
          font-family: Arial, sans-serif;
        }
  
        ul.annonces {
          list-style: none;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
  
          li.annonce {
            width: calc(50% - 10px);
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
  
            .annonce-details {
              h2 {
                font-size: 18px;
                margin-bottom: 10px;
                color:black;
                font-weight: bold;
                text-transform: uppercase;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              }
  
              p {
                font-size: 14px;
                margin-bottom: 5px;
                color: #555;
              }
            }
  
            .btn-reserver {
              display: inline-block;
              padding: 10px 20px;
              background-color:brown;
              color: #fff;
              border-radius: 5px;
              text-decoration: none;
              font-size: 14px;
              text-align: center;
              transition: background-color 0.3s ease-in-out;
  
              &:hover {
                background-color:red;
              }
            }
          }
        }
      }
    }
    
    @media (max-width: 767px) {
      .row {
        .blabla {
          ul.annonces {
            flex-direction: column;
  
            li.annonce {
              width: 100%;
            }
          }
        }
      }
    }
  }
  